<?xml version="1.0"?>
<launch>
  <arg name="frequency" default="30" />
  <arg name="pcan_device" default="/dev/pcanusb1" />

  <include file="$(find schunk_canopen_driver)/launch/driver.launch">
    <arg name="frequency" value="$(arg frequency)" />
    <arg name="pcan_device" value="$(arg pcan_device)" />
  </include>

  <!--   Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
