<?xml version="1.0"?>
<launch>
<!-- File description
  For executing more complex trajectories the interpolated position mode with
  ros_control offers a very powerful, yet effective command interface.
  It offers a FollowJointTrajectory interface as well as multiple services
  for handling the robot.
 -->

  <arg name="trajectory_controller_name" />

  <!-- Load controller settings -->
  <rosparam file="$(find schunk_canopen_driver)/config/arm_controllers.yaml" command="load"/>

  <!-- spawn controller manager -->
  <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="$(arg trajectory_controller_name)" />

  <!-- load other controller -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load joint_state_controller" />

  <!-- load test controller -->
  <node name="ros_control_pos1_controller" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_joint1_controller" />
  <node name="ros_control_pos2_controller" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_joint2_controller" />
  <node name="ros_control_pos3_controller" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_joint3_controller" />
  <node name="ros_control_pos4_controller" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_joint4_controller" />
  <node name="ros_control_pos5_controller" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_joint5_controller" />
  <node name="ros_control_pos6_controller" pkg="controller_manager" type="controller_manager" respawn="false"
    output="screen" args="load pos_based_joint6_controller" />

</launch>
